{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Welcome</title>
{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static '/index.css' %}">
<nav class="navbar fixed-top navbar-expand-md">
	<a class="navbar-brand">Tugas PBP</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="/katalog">Katalog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/mywatchlist">My Watch List</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/todolist">To Do List</a>
			</li>
		</ul>
	</div>
</nav>
<h1>Bienvenue</h1>
{% endblock content %}