body {
    padding: 0;
    margin: 0;
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}
.navbar {
    background:#6ab446;
}
.navbar-brand{
    margin-left: 1em;
    color: #fff;
}
.nav-link {
    margin-right: 1em !important;
    color: #fff;
    cursor: pointer;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.card{
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.col{
  height: 150px
}